<!--
  This file sets OS-wide environment variables (i.e. accessible to GUI apps).
  It should be symlinked into ~/Library/LaunchAgents and loaded with launchctl.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.inescapable.environment</string>
  <key>Disabled</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>bash</string>
    <string>-c</string>
    <string>
    while read -r subcmd || [[ -n $subcmd ]]; do [[ ${subcmd:0:1} != "#" ]] && eval "/bin/launchctl $subcmd"; done &lt; "$HOME/.config/misc/launchd.conf"
    </string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
