# -----------------------------------------------------------------------------
# ~/.config/.gitignore
# -----------------------------------------------------------------------------

# this file
.gitignore

# email
alpine/

# SSH
ssh/
**/ssh_config

# assorted crap
fish/
misc/
mc/
*.bak

# Transmission -- https://transmissionbt.com/
transmission/
