# -----------------------------------------------------------------------------
# ~/.config/.gitignore
# -----------------------------------------------------------------------------

# private
jrnl

# messy/boring
zsh/

# unnecessary
fish/fish_variables
fish/fishd.*
ruby/Gemfile.lock
*~
*~orig*
