# -----------------------------------------------------------------------------
# ~/.config/.gitignore
# -----------------------------------------------------------------------------

# private
jrnl
letsencrypt/

# messy/boring
zsh/

# unnecessary
configstore/
ruby/Gemfile.lock
*.bak
*.old
*~
*~old
*~orig
*~original
