AllCops:
  NewCops: enable

### Layout ###

# Left-align keys, rockets, and values
Layout/HashAlignment:
  EnforcedHashRocketStyle: table
  EnforcedColonStyle: table

# Enforce order of definitions within a class body
Layout/ClassStructure:
  Enabled: true

# Require a line break before the first element of a multi-line array/hash
Layout/FirstArrayElementLineBreak:
  Enabled: true
Layout/FirstHashElementLineBreak:
  Enabled: true

# Each item must start on a separate line
Layout/MultilineArrayLineBreaks:
  Enabled: true
Layout/MultilineHashKeyLineBreaks:
  Enabled: true

### Metrics ###

Layout/LineLength:
  Max: 118

Metrics/AbcSize:
  CountRepeatedAttributes: false
Metrics/MethodLength:
  Enabled: false

### Style ###

# Always use `alias_method` for methods of modules and classes at runtime
Style/Alias:
  EnforcedStyle: prefer_alias_method

# Suggest auto-cleaning versions of methods when available
Style/AutoResourceCleanup:
  Enabled: true

# Allow non-ASCII symbols in comments
Style/AsciiComments:
  Enabled: false

# Allow =begin/=end block comments
Style/BlockComments:
  Enabled: false

# Prefer e.g. `find` to `detect` and `reduce` to `inject`
Style/CollectionMethods:
  Enabled: true

# Use Time over DateTime
Style/DateTime:
  Enabled: true

# Don't enforce the presence or absence of frozen_string_literal
Style/FrozenStringLiteralComment:
  Enabled: false

# Use 1.9 hash syntax ({a: 1}) exclusively
Style/HashSyntax:
  EnforcedStyle: ruby19_no_mixed_keys

# Use %() for strings and defaults for everything else
Style/PercentLiteralDelimiters:
  PreferredDelimiters:
    default: "()"

# Allow rescuing without specifying an error class
Style/RescueStandardError:
  EnforcedStyle: implicit

# Prefer symbols instead of strings as hash keys
Style/StringHashKeys:
  Enabled: true

# Enforce double quotes around string literals by default
Style/StringLiterals:
  EnforcedStyle: double_quotes
