# -----------------------------------------------------------------------------
# ~zozo/.ssh/config
# vim:ft=conf:fo-=a:fo-=t:
# -----------------------------------------------------------------------------
# local systems
# -----------------------------------------------------------------------------

Host Athena
    HostName Athena.local

Host Minerva
    HostName Minerva.local

Host Erato
    HostName Erato.local

Host Hiroko
    HostName 10.0.1.6

# -----------------------------------------------------------------------------
# remote systems
# -----------------------------------------------------------------------------

Host Athena.remote
    HostName athena.inescapable.org
    Port 22222

Host WebFaction
    HostName web500.webfaction.com
    ServerAliveInterval 30
    ServerAliveCountMax 4

Host Koding
    User graceok
    HostName graceok.koding.io

# -----------------------------------------------------------------------------
# general
# -----------------------------------------------------------------------------

Host *
    User zozo
    SendEnv LANG LC_* TZ GIT_* TERM_PROGRAM Z_SOLARIZED
    HashKnownHosts yes
    Compression yes
    ForwardAgent yes
    ConnectionAttempts 5

    #ProxyCommand nc -X5 -x 127.0.0.1:8080 %h %p
    #ProxyCommand socat - SOCKS:127.0.0.1:%h:%p,socksport=8080
