# ruby -rplist -ryaml -e"puts YAML.load(File.read(ARGV[0])).to_plist" "$HOME/.config/launchd/org.inescapable.environment.plist.yaml" > "$HOME/.config/launchd/org.inescapable.environment.plist"
---
Label: org.inescapable.environment
Disabled: false
EnvironmentVariables:
  HOME: /Users/zozo
  PATH: /usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
ProgramArguments:
- "bash"
- "-c"
- 'while read -r cmd || [[ -n $cmd ]]; do
    [[ ${cmd:0:7} == "setenv " ]] && eval "/bin/launchctl ${cmd}";
  done && /bin/launchctl setenv Z_ENV "$(date +%F\ %T)"'
StandardInPath: /Users/zozo/Dropbox/.config/launchd/setenv.conf
KeepAlive:
  SuccessfulExit: true
RunAtLoad: true
ThrottleInterval: 60
ProcessType: Background
